{% extends "base.html.twig" %}

{% block bodyAttributes %}class="plain"{% endblock %}

{% block body %}
    <div class="container">

        <header>
            <h6>
                JSN - The Jesuit Science Network
            </h6>
        </header>
        <div class="jumbotron custom">
            <h1><span class="red">403</span> <span class="visible-md-inline visible-lg-inline">|</span><br class="visible-xs-inline visible-sm-inline"> Access Denied</h1>
        </div>

        <div class="narrower">
            For legal reasons, this project is currently not yet available to the public.<br>
            To request private access to the preview version, please <a href="mailto:info@jesuitscience.net">contact us</a>.
            <p></p>
            <p>
                {{ include('plain_links.html.twig') }}
            </p>
        </div>
    </div><!-- /.container -->
{% endblock %}
