{% extends "base.html.twig" %}

{% block bodyAttributes %}class="plain"{% endblock %}

{% block body %}
    <div class="container">

        <header>
            <h6>
                JSN - The Jesuit Science Network
            </h6>
        </header>
        <div class="jumbotron custom">
            <h1><span class="red">500</span> <span class="visible-md-inline visible-lg-inline">|</span><br class="visible-xs-inline visible-sm-inline"> Internal Server Error</h1>
        </div>

        <div class="narrower">
            <p>An error occuring while processing your request. We are sorry for any inconvenience.</p>
            <p></p>
            <p>
                {{ include('plain_links.html.twig') }}
            </p>
        </div>
    </div><!-- /.container -->
{% endblock %}
