/app/bootstrap.php.cache
/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/phpunit.xml
/bin/
/vendor/
/html/bundles/
logs
.idea
/html/css/*
!html/css/.gitkeep
/html/js/*
!html/js/.gitkeep
