{% if translation_domain is not defined %}
    {% set translation_domain = null %}
{% endif %}

{% for flashMessage in app.session.flashbag.get('alert') %}
    <div class="alert alert-warning">
        {{ flashMessage|trans({}, translation_domain)|smart_quotes }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger">
        {{ flashMessage|trans({}, translation_domain)|smart_quotes }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        {{ flashMessage|trans({}, translation_domain)|smart_quotes }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage|trans({}, translation_domain)|smart_quotes }}
    </div>
{% endfor %}
