{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>foo</h1>
        <h2>foo</h2>
        <h3>foo</h3>
        <h4>foo</h4>
        <h5>foo</h5>
        <h6>foo</h6>
    </div>

    <footer>
        <div class="container logos">
            <div class="col-sm-12">
                <ul class="list-inline">
                    <li><a href="#"><img src="{{ asset('images/logos/buw.png') }}" height="30" /></a></li>
                    <li><a href="#"><img src="{{ asset('images/logos/izwt.png') }}" height="30" /></a></li>
                    <li><a href="#"><img src="{{ asset('images/logos/dfg.png') }}" height="30" /></a></li>
                    <li><a href="#"><img src="{{ asset('images/logos/bbaw.png') }}" height="30" /></a></li>
                </ul>
            </div>
        </div>
        <div style="background-color: #f0f0f0;">
            <div class="container">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h4>Contact</h4>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
