{% extends "layout.html.twig" %}

{% set enableMap = true %}

{% block content %}
    <div class="container container-narrow topmargin">
        <h2 style="margin-bottom: 30px;">Search the Database</h2>

        {% include "flash.html.twig" %}

        {% include "include/searchbox.html.twig" %}

    </div>
{% endblock %}
