{% extends "::layout.html.twig" %}

{% block content %}
<div class="container container-narrow">
    <div class="col-xs-12">
        <h3 id="sources">Sources</h3>

        {% for group in groups %}
        <h6>{{ group.title }}</h6>
        <ol class="source-list">
        {% for source in group.sources %}
            <li>{% include "include/source.html.twig" %}</li>
        {% endfor %}
        </ol>
        {% endfor %}

        <h6>Other sources</h6>
        <ol class="source-list">
        {% for source in sources %}
            <li>{% include "include/source.html.twig" %}</li>
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
