{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <ol class="source-list">
            {% for source in sources %}
            <li>
                {% include "include/source.html.twig" %}
            </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}
