{% extends "layout.html.twig" %}

{% set renderFooter = false %}

{% block content %}
<div id="map"></div>
    <div id="map-filters">
        {{ form(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        body, html {
            height: 100%;;
        }
        #map {
            height: auto;
            position: absolute;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
        }
        #map-filters {
            font-size: 75%;
            position: absolute;
            top: 65px;
            right: 15px;
            width: 300px;
            height: 400px;
            /*border: 1px solid #d8d8d8;*/
            background: #fff;
            padding: 10px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px 4px;
            -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px 4px;
            box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px 4px;
        }
        #map-filters label.control-label {
            font-family: 'Montserrat';
            font-size: 11px;
            text-transform: uppercase;
            font-weight: normal;
        }
    </style>
{% endblock %}

{% set enableMap = true %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $('body').one('map:ready', function() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        });
    </script>
{% endblock %}
