{% extends 'layout.html.twig' %}

{% block bodyAttributes %} data-spy="scroll" data-target="#navbar-collapse"{% endblock %}

{% block content %}
    <div class="container container-narrow">
        <div class="col-xs-12">
            <h3>About</h3>

            <p>
                The idea behind the Jesuit Science Network was inspired by
                research by Steven J. Harris. For his PhD thesis "Jesuit
                ideology & Jesuit science” from 1988, Harris used the
                bibliographical data provided by Carlos Sommervogel’s
                Bibliothèque de la Compagnie de Jésus as a basis for statistical
                surveys on Jesuit publications in the early modern sciences,
                thus giving a qualitative analysis of Jesuit ‘scientific' output
                at the time. From this, the JSN adapted the Bibliothèque as its
                starting point; however, it looks at the biographical, not the
                bibliographical data contained and also broadens the scope to
                not only include Jesuit authors, but also teachers in the early
                modern sciences. The JSN furthermore uses additional sources in
                order to correct and expand on the information given by the
                Bibliothèque. <a href="{{ path('sources') }}">Find out more
                    about theses sources</a>.
            </p>

            <h3 id="jesuit-science">Jesuit early modern science</h3>

            <p>
                But what exactly are Jesuit early modern sciences? Harris'
                followup paper "Les chaires de mathématiques" from 1997 offers a
                detailed list of the topics in consideration for his own work
                and now also the Jesuit Science Network:
            </p>

            <dl class="dl-horizontal">
                <dt>Pure mathematics</dt>
                <dd>algebra, functions, series; analytical geometry; arithmetic;
                    integral calculus
                    and analysis; geometry; logarithms; number theory,
                    probablitites, etc.
                </dd>

                <dt>Mixed mathematics</dt>
                <dd>mechanics; optics (catoptrics, dioptrics); acoustics
                    (harmonies, theory of
                    music and sound); hydraulics, civil and military
                    architecture; mathematical geography
                    (localization, cartography); scientific instruments, physics
                    cabinet
                </dd>

                <dt>Astronomy</dt>
                <dd>
                    calendars, almanachs, ephemerides; clocks (dials, horology);
                    spherical astronomy; lunar and
                    solar astronomy (observation and theory); comets
                    (observation and theory); stellar astronomy (observation);
                    planetary astronomy (theory)
                </dd>

                <dt>Natural philosophy</dt>
                <dd>
                    commentaries of Aristotle; natural philosophy; philosophy of
                    experience; supernatural
                    and occult questions
                </dd>

                <dt>Natural history</dt>
                <dd>
                    cosmography; physical, subterranean, and politcal geography;
                    hydrography;
                    meteorology (observation, instruments); zoology and botany;
                    cabinets of curiosities, collections
                </dd>

                <dt>Medicine</dt>
                <dd>
                    health and disease; anatomy, physiology, surgery;
                    experimental medicine
                </dd>

                <dt>Agriculture and economics</dt>
                <dd>
                    woods and horticulture; beekeeping; money, measure and
                    weight
                </dd>
            </dl>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.reference').popover();
    </script>
{% endblock %}
