{% extends "layout.html.twig" %}

{% block content %}
    <div class="container container-narrow topmargin">
        <h2>Imprint</h2>

        <p>This information is provided according to German law.</p>

        <p>...</p>
    </div>

{% endblock %}
