{% extends 'layout.html.twig' %}

{% set enableMap = true %}

{% block content %}
    <div class="hero">
        <div class="overlay"></div>
        <h1>Jesuit Science Network</h1>
    </div>
    <div class="container container-narrow">
        <div class="col-xs-12">
            <p style="margin-top: 20px; margin-bottom: 20px;">
                The Jesuit Science Network is a digital prosopography on Jesuit
                scholars in the early modern sciences, encompassing the period
                between the foundation of the Society of Jesus in 1540 and the
                first few decades after its suppression in 1773.
                It provides free access to an extensive collection of
                biographical information on early modern Jesuits in the
                sciences along with their contemporary contacts.
            </p>

            {% include "include/searchbox.html.twig" %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
