{% extends "layout.html.twig" %}

{% set enableMap = true %}
{% set renderFooter = false  %}
{% block content %}
    <style type="text/css">
        #results {
            position: absolute; top: 50px; bottom:0; right: 0; width: 400px;
            border-left: 1px solid #ddd;
            overflow-y: scroll;
        }

        #map {
            position: absolute; top: 50px; left: 0; right: 400px; bottom: 0;
        }
    </style>
<div id="filter">
    {#<h3>Search</h3>#}
    <button class="btn btn-default btn-sm">Subjects</button>
</div>

<div id="map"></div>

<div class="search-results" id="results">
    <h4>154 Results</h4>

    <div class="filter" style="width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #fafafa;">
        <em>Refine search</em>
    </div>


</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $('body').one('map:ready', function() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        });
    </script>
{% endblock %}
