{% extends "layout.html.twig" %}

{% set enableMap = true %}
{% set renderFooter = false  %}
{% block content %}
    <style type="text/css">
        #results {
            position: absolute; top: 50px; bottom:0; right: 0; width: 350px;
            -webkit-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
        }
        #results.inactive {
            right: -250px;
        }

        #filter {
            z-index: 999;
            background-color: #fafafa;
            width: 250px;
            position: absolute;
            top: 50px;
            left:-250px;
            bottom: 0;
            border-right: 1px solid #ddd;
            -webkit-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
        }
        #filter.active {
            left: 0;
        }

        #filter .toggle {
            position: absolute;
            top: 55px;
            left: 400px;
        }
        #filter .panel {
            border: 0 none; border-bottom: 1px solid #ddd;
        }

        #map {
            -webkit-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
            position: absolute; top: 50px; left: 0; right: 350px; bottom: 0;
        }
        #map.filter {
            left: 250px; right: 100px;
        }

    </style>
<div id="filter">
    <div class="panel panel-default">
        <button type="button" class="toggle">{{ icon('double-angle-right') }}</button>
        <div class="panel-body">
            <h3>Search Results</h3>
            <p>Searching for aspects between <em>1
                    560</em> and <em>1710</em></p>
            <p style="margin-bottom:0" class="text-right">
                <a href="{{ path('search') }}" class="btn btn-xs btn-default">Start over</a>
            </p>


        </div>
    </div>

    <h6>Refine your search</h6>
    <div class="panel panel-default">
        <div class="panel-body">
            <h6>Subjects</h6>

            <h6>Continents</h6>

            <h6>Countries</h6>
        </div>
    </div>
</div>

<div id="map"></div>

<div id="results">
                <p>152 results</p>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $('body').one('map:ready', function() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        });
        $('.toggle').on('click', function() {
            $('#map').toggleClass('filter');
            $('#filter').toggleClass('active');
            $('#results').toggleClass('inactive');
        });
    </script>
{% endblock %}
